/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#button {
    margin: 0;
    position: absolute;
    top: 65%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
} */
/**/
 /* .play {
    min-width: 200px;
    min-height: 60px;
    font-family: "Vermin Vibes V";
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: #313133;
    background: #4FD1C5;
    background: linear-gradient(90deg, rgb(236, 170, 71) 0%, rgb(207, 142, 45) 100%);
    border: none;
    border-radius: 1000px;
    box-shadow: 12px 12px 24px rgba(238, 209, 42, 0.64);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
    }  */
  /* button::before {
  content: '';
    border-radius: 1000px;
    min-width: calc(300px + 12px);
    min-height: calc(60px + 12px);
    box-shadow: 0 0 60px rgba(250, 236, 37, 0.918);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
  } */
  
  /* .play:hover, .play:focus {
    color: #313133;
    transform: translateY(-6px);
  }
  
  button:hover::before, button:focus::before {
    opacity: 1;
  }
  
  button::after {
    content: '';
    width: 30px; height: 30px;
    border-radius: 100%;
    border: 6px solid #080701;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
  }
  
  button:hover::after, button:focus::after {
    animation: none;
    display: none;
  } */
  
  /* @keyframes ring {
    0% {
      width: 30px;
      height: 30px;
      opacity: 1;
    }
    100% {
      width: 300px;
      height: 300px;
      opacity: 0;
    }
  }  */
/* /////// */

/* #buttonLayer {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding-left: 400px;
} */
/* #gameScreen {
    border: 2px solid blue;
    background: linear-gradient(to bottom,blue, lightblue, rgb(238, 183, 81));
} */

canvas {
  width: 90% ;   /* when browser width is reduced so is the canvas */
  position:absolute; 
  top: 90px; 
  left: 0px; 
  right: 0px; 
  bottom: 0px; 
  margin: auto;
}

@font-face {  /* allows downloaded font to be used */
  font-family: "Vermin Vibes V";
  src: url("assets/fonts/VerminVibesV-Zlg3.ttf") format("truetype");
}
/* h1 {
  color: rgb(54, 48, 48);
  font-family: "Vermin Vibes V";
  font-size: 50px;
  text-shadow: 3px 4px rgb(248, 224, 5);
  text-align: center;
  padding-top: 20px;
} */
h1 {
    color: rgb(54, 48, 48);
    font-family: "Vermin Vibes V";
    font-size: 50px;
    text-shadow: 3px 4px rgb(248, 224, 5);
    margin-bottom: 0;
    text-align: center;
}
