 body {
   background-color: black;
}

canvas {
  width: 1000px;   /* when browser width is reduced so is the canvas */
  height: 600px;
  position: absolute; 
  /* top: 90px;  */
  top: 70px;
  left: 0px; 
  right: 0px; 
  bottom: 90px; 
  margin: auto;
}

@font-face {  /* allows downloaded font to be used */
  font-family: "Vermin Vibes V";
  src: url("assets/fonts/VerminVibesV-Zlg3.ttf") format("truetype");
}

#navBar img {
  height: 5px;
  width: 5px;
}

#navBar li{
  /* height: 5px; */
  display: inline;
}


#navBar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 92%;
  margin-top: -3%;
}

#navBar a {
  font-size: 3.5px;
  text-decoration: none;
  color: white;
  font-family: "Vermin Vibes V";
  
}

#about {
  float: right;
}

